# node
node_modules/
npm-debug.log*
yarn.lock # (optional if you use npm)
pnpm-lock.yaml

# strapi build/runtime
.cache/
.build/
.tmp/
*.db

# env/secrets
.env
.env.*.local

# os/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# uploads (keep out of git; store on S3/Cloudinary or persist on server)
public/uploads/
